@font-face {
    font-family: "Retron2000";
    src: url(/assets/Retron2000.ttf);
}

body {
    font-family: "Retron2000";
    color: #cccccc;
    width: 100%;
    height: 100%;
    background: #222222 radial-gradient(#cccccc 10%, transparent 1%);
    background-size: 10px 10px;
    margin: 0;
    padding: 0;
}

div.header {
    backdrop-filter: blur(2px);
    padding-right: 20px;
}

div.box {
    margin-top: 20px !important;
    margin: 5px;
    padding: 5px;
    backdrop-filter: blur(2px);
}

div.title {
    text-align: right;
    line-height: 8px;
}

button {
    font-family: "Retron2000";
    color: #cccccc;
    background-color: #00000020;
}
input {
    font-family: "Retron2000";
    color: #cccccc;
    background-color: #22222220;
}
.input {
    font-family: "Retron2000";
    width: 99%;
    height: 300px;
    color: #cccccc;
    background-color: #22222220;
}
.input:disabled {
    color: #cccccc;
    background-color: #00000020;
}
input[type=file]::file-selector-button {
    font-family: "Retron2000";
    color: #cccccc;
    background-color: #00000020;
}